*{
    margin: 0;
    padding: 0;
}

:root{
    --preto: black;
    --cor_fundo: #EFFFFB;
    --branco: #ffffff;
    --cor_primaria: #257cb6;
    --cor-secundaria: #3ec27b;
    --cor_bt_whatsapp: #259225;
}

body{
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor_fundo);
    color: var(--preto);
}

/* --------------------- HEADER ------------------------- */

.cabecalho{
    padding: 1.2% 0 1.2% 10%;
}

.cabecalho_menu{
    display: flex;
    gap: 25px;
}  

.cabecalho_menu_link{
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--preto);
}



/* --------------------- MAIN ------------------------- */

.txt-vermelho{
    color: var(--cor-secundaria);
}

.apresentacao{
    gap: 82px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin: 3% 12%;
}

.apresentacao_cont{
    width: 50%;
    padding: 2% 2%;
    display: flex;
    flex-direction: column;
    gap:20px;
}
 
.apresentacao_titulo{
    font-size: 1.8rem;
}

.apresentacao_titulo_sobre{
    font-size: 1.8rem;
    color: var(--cor-secundaria);
}

.apresentacao_paragrafo{
    font-size: 1.25rem;
    text-align: justify;
}

.apresentacao_paragrafo_sobre{
    font-size: 1.25rem;
    text-align: justify;
}

.foto{
    width: 50%;
}

/* --------------------- CONTEUDO ------------------------- */

.apresentacao_buttons{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.apresentacao_buttons_subtitulo{
    font-weight: 400;
}

.apresentacao_button_sec{
    padding: 17.5px;
    width: 50%;
   
    background-color: var(--branco);
    color: var(--preto);

    border: 2px solid #10bb0a;
    border-radius: 8px;
    box-shadow: rgba(138, 138, 146, 0.215) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.apresentacao_button_pri{ 
    padding: 17.5px;
    width: 50%;

    background-color:var(--cor_primaria);
    color: var(--branco);

    border: 2px solid #20b0ae;
    border-radius: 8px;
    box-shadow: rgba(138, 138, 146, 0.215) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;


    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.apresentacao_button_pri:hover{
    background-color: #47a7e7;

}

.apresentacao_button_sec:hover{
    background-color: var(--cor_bt_whatsapp);
    color: white;
}

/* --------------------- RODAPE ------------------------- */

.rodape{
    text-align: center;
    color: var(--branco);
    background-color: var(--cor-secundaria);
    padding: 24px;
    font-weight: 400;
    font-size: 1.2rem;
}

/*------------------- MEDIA QUERIES --------------------- */
@media (max-width: 359px){
    .cabecalho{
        padding: 1% 1% 1% 1%;
    }

    .cabecalho_menu{
        gap: 15px;
        align-items: center;
        flex-direction: column;
    }

    .cabecalho_menu_link{
        font-size: 1rem;
    }

    .apresentacao{
        flex-direction: column-reverse;
        gap:40px;
    }
       
    .apresentacao_cont{
        text-align: justify;
        width: auto;
    }

    .apresentacao_titulo{
        font-size: 1.3rem;
    }
    
    .apresentacao_titulo_sobre{
        font-size: 1.3rem;
    }
    
    .apresentacao_paragrafo{
        font-size: 1rem;
        
    }
    
    .apresentacao_paragrafo_sobre{
        font-size: 1rem;
    }

    .apresentacao_buttons_subtitulo{
        font-size: 1.3rem;
    }

    .apresentacao_buttons{
        margin-top: 10px;
        gap: 15px
    }

    .apresentacao_button_sec{
        width: 70%;
    }
    
    .apresentacao_button_pri{
        width: 70%;
    }
}

@media (min-width: 360px ) and (max-width: 500px){
    .cabecalho{
        padding: 4%;
    }

    .cabecalho_menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        gap:40px;
    }
    .apresentacao_buttons{
        margin-top: 10px;
        gap: 15px
    }
    
    .apresentacao_cont{
        text-align: justify;
        width: 270px;
    }

    .apresentacao_button_sec{
        width: 70%;
    }
    
    .apresentacao_button_pri{
        width: 70%;
    }
}


@media (min-width: 500px ) and (max-width: 990px){
    .cabecalho{
        padding: 4%;
    }

    .cabecalho_menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        gap:40px;
    }
    .apresentacao_buttons{
        margin-top: 10px;
        gap: 15px
    }
    
    .apresentacao_cont{
        text-align: justify;
        width: 400px;
    }
    
   


}


